# Ignora tutto tranne le cartelle e i file fondamentali
/*
!/scripts/
!/src/
!/notebook/
!/models/
!/analizzatore_foto_video/
!/analizzatore_foto_video/**
!/.gitignore
!/requirements.txt
!/.gitpod.yml
!/.gitpod.Dockerfile
!/readme.md

# IDE / sistema
.vscode/
.DS_Store
Thumbs.db

# Bytecode e cache
__pycache__/
*.py[cod]
*.pyo
*.log

# Ambienti virtuali
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# File di compilazione, pacchetti e log
*.tar.gz
*.zip
*.egg-info/
*.egg
build/
dist/

# File temporanei e test
.ipynb_checkpoints/
.pytest_cache/
.coverage
.tox/
.nox/
.dmypy.json
.mypy_cache/
.pyre/
.pytype/

# Configurazioni specifiche IDE / tools
.spyderproject/
.spyproject/
.ropeproject/
.ruff_cache/
.pypirc

# Output
logs/
output/